block vars

block loadClientEntry
	- const clientEntry = config.clientEntry;

doctype html

//
	-
	  _____ _         _           
	 |     |_|___ ___| |_ ___ _ _ 
	 | | | | |_ -|_ -| '_| -_| | |
	 |_|_|_|_|___|___|_,_|___|_  |
	                         |___|
	 Thank you for using Misskey!
	 If you are reading this message... how about joining the development?
	 https://github.com/cutls/misskey
	 

html

	head
		meta(charset='utf-8')
		meta(name='application-name' content='Misskey')
		meta(name='referrer' content='origin')
		meta(name='theme-color' content= themeColor || '#86b300')
		meta(name='theme-color-orig' content= themeColor || '#86b300')
		meta(property='twitter:card' content='summary')
		meta(property='og:site_name' content= instanceName || 'Misskey')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='icon' href= icon || '/favicon.ico')
		link(rel='apple-touch-icon' href= icon || '/apple-touch-icon.png')
		link(rel='manifest' href='/manifest.json')
		link(rel='search' type='application/opensearchdescription+xml' title=(title || "Misskey") href=`${url}/opensearch.xml`)
		link(rel='prefetch' href='https://xn--931a.moe/assets/info.jpg')
		link(rel='prefetch' href='https://xn--931a.moe/assets/not-found.jpg')
		link(rel='prefetch' href='https://xn--931a.moe/assets/error.jpg')
		//- https://github.com/misskey-dev/misskey/issues/9842
		link(rel='stylesheet' href='/assets/tabler-icons/tabler-icons.min.css?v2.2.0')
		link(rel='modulepreload' href=`/vite/${clientEntry.file}`)

		if !config.clientManifestExists
				script(type="module" src="/vite/@vite/client")

		if Array.isArray(clientEntry.css)
			each href in clientEntry.css
				link(rel='stylesheet' href=`/vite/${href}`)

		title
			block title
				= title || 'Misskey'

		block desc
			meta(name='description' content= desc || '✨🌎✨ A interplanetary communication platform ✨🚀✨')

		block meta

		block og
			meta(property='og:title'       content= title || 'Misskey') 
			meta(property='og:description' content= desc || '✨🌎✨ A interplanetary communication platform ✨🚀✨') 
			meta(property='og:image'       content= img)

		style
			include ../style.css

		script.
			var VERSION = "#{version}";
			var CLIENT_ENTRY = "#{clientEntry.file}";

		script
			include ../boot.js

	body
		noscript: p
			| JavaScriptを有効にしてください
			br
			| Please turn on your JavaScript
		div#splash
			img#splashIcon(src= icon || '/static-assets/splash.png')
			div#splashSpinner
				<svg class="spinner bg" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg">
					<g transform="matrix(1,0,0,1,12,12)">
						<circle cx="64" cy="64" r="64" style="fill:none;stroke:currentColor;stroke-width:24px;"/>
					</g>
				</svg>
				<svg class="spinner fg" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg">
					<g transform="matrix(1,0,0,1,12,12)">
						<path d="M128,64C128,28.654 99.346,0 64,0C99.346,0 128,28.654 128,64Z" style="fill:none;stroke:currentColor;stroke-width:24px;"/>
					</g>
				</svg>
		block content
